.cardsec{
   margin-top: 70px; 
}
.cardsec h1{
    text-align: center;
    font-weight: bold;
}
.card-container{

    border-color: none;
    border: none;
    width: 80rem;
    margin: 65px;
    text-align: center;
    margin-inline: 170px;
    
}
.card-container .card{
    margin-inline: 30px;
    border: none;
}
.card-container .card img{
    margin: 28px;
    width: 5rem;
    margin-inline: 133px;
    text-decoration: underline;
}
